:root {
--pColor:     #00738e;
--pLightColor:#4da2be;
--pDarkColor: #004761;
--pTextColor: #ffffff;
}

.code{
border-left: 3px black solid;
padding :10px 10px;
background: #D8F1E9 ;
}

.barangimg{
  max-width:186px;
}

#qr-canvas, #canvas {
  margin: auto;
  width: 100%;
}

.merah {background-color:#FF69B4;}

.im{
  max-width: 100px; padding:30px;
}

.wow {
  border: 1px solid #4CAF50;
  float: left;
  display:inline-block;
  /* width: 100%; */
  height: 48px;
  height: 48px;
}

 .s {
   width: 50px;

}

  .icon{
    width:  100%;
    height: auto;
    fill: #FFFFFF;
    padding: 10px 10px;
}

.hide{
  display:none;
}




body {font-family: Arial;}
.img {   max-width: 250px;}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.fade { -webkit-animation-name: fade; -webkit-animation-duration: 1.5s;  animation-name: fade;  animation-duration: 1.5s;}
@-webkit-keyframes fade {  from {opacity: .4}  to {opacity: 1}}
@keyframes fade {  from {opacity: .4}  to {opacity: 1}}

.prev, .next {
  filter:Alpha(opacity=0);
  top:50%;
  position:absolute;
  text-align:center;
  cursor:pointer;
  width: auto;
  padding: 16px;
  margin-top: -22px;
   font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {  right: 0; border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {  background-color: rgba(0,0,0,0.8);}

.alur {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .alur:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
