#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
}


.shot {
  margin: 0;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
 
